<html lang="en">
<head>
    {{- /*gotype: github.com/MicahParks/terseurl/meta.Preview*/ -}}
    <title>{{.MediaPreview.Title}}</title>
    <!--Insert traditional meta tags-->
    <link href="" rel="shortcut icon"> <!--TODO Add Favicon template.-->
{{/*    <meta name="description" content="{{.}}"/>*/}}
    {{- if eq .RedirectType "meta" -}}
        <meta http-equiv="Refresh" content="0; url='{{.Redirect}}'"/>
    {{- end -}}
    <!--Insert OG Markup-->
    <!--https://ogp.me/-->
    <!--TODO Add templated checks to omit empty tags.-->
    <!--TODO Extra metadata stuff like structured properties and arrays?-->
    {{- if .Og -}}
        {{- range $property, $content := .MediaPreview.Og -}}
            <meta prefix="og: http://ogp.me/ns#" property="{{$property}}" content="{{$content}}"/>
        {{- end -}}
    {{- end -}}
    <!--Insert Twitter Card Markup-->
    <!--https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup-->
    {{- if .Twitter -}}
        {{- range $name, $content := .MediaPreview.Twitter -}}
            <meta name="{{$name}}" content="{{$content}}"/>
        {{- end -}}
    {{- end -}}
</head>
<body>
<!--TODO Add link button and templated redirect.-->
{{- if eq .RedirectType "js" -}}
    <script type="text/javascript">

        // Immediate redirect.
        window.location.replace('{{.Redirect}}');
    </script>
{{- end -}}
</body>
</html>